{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <link type='text/css' href = '{% static "css/home.css" %}' rel='stylesheet'/>
    <script src="https://kit.fontawesome.com/bb4115f541.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="contenedor">
      <a class="btn" href="academy"><button><i class="fa-solid fa-graduation-cap"></i>Academy</button></a>
        <div class="contenedorUWallet">
            <a class="btn" href="feed"><button class="submit"><i class="fa-solid fa-wallet"></i>UWallet</button></a>
        </div> 
    </div>
</body>
</html>