* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebfffb;

}

.incomes {
    background-color: green;
    border: 0px;
    padding: 60px;
    color:#fff;
    font-size: 40px;
    margin: 35px 35px;
}

.spents {
    background-color: red;
    border: 0px;
    padding: 60px;
    color:#fff;
    font-size: 40px;
    margin: 35px 35px;
}

.movements {
    background-color: #ea00ff;
    border: 0px;
    padding: 60px;
    color:#fff;
    font-size: 40px;
    margin: 35px 35px;
}

.reports{
    background-color: #ff9500;
    border: 0px;
    padding: 60px;
    color:#fff;
    font-size: 40px;
    margin: 35px 35px;
}