{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy</title>
    <link rel="stylesheet" href= '{% static "css/academy.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
                <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales</a></li>      
                <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
                <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
                <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
                <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <h1> ¡Bienvenido a la documentacion de UWallet! </h1>
</body>
</html>