{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar Tres</title>
    <link rel="stylesheet" href= '{% static "css/academy.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
                <li><a href="¿Qué son las finanzas personales">¿Qué son las finanzas personales</a></li>      
                <li><a href="Objetivos de las finanzas personales">Objetivos de las finanzas personales</a></li>
                <li><a href="Elementos de las finanzas personales">Elementos de las finazas personales</a></li>
                <li><a href="¿Cómo optimizar mis finanzas personales">¿Cómo optimizar mis finanzas personales</a></li>
                <li><a href="¿Qué son los gastos hormiga?">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <H1>Esta es la documentación de UWallet</H1>
</body>
</html>