{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Academy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/responsive.css" %}'>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="/academy">Academy</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="menu">
                            <ul>
                                <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales?</a></li>
                                <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
                                <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
                                <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
                                <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
                                <li><a href="/home">Home </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="bg-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-text">
                            <h1>¿Qué son las finanzas personales?</h1>
                            <h2>Las finanzas personales se ocupan de cómo los individuos o familias administran sus recursos a lo largo de su vida. En su análisis se incluyen no solo los ingresos y gastos recibidos o pagados durante la vida, sino también las herramientas o productos financieros con los que cuentan los individuos o familias para optimizar el manejo de sus recursos.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/active.js"></script>
</body>

</html>