{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos de las Finanzas Personales</title>
    <link rel="stylesheet" href= '{% static "css/ElementosFP.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
             <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales</a></li>      
             <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
             <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
             <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
             <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <h1>Elementos de las Finanzas personales</h1>
    <h1>Las finanzas personales cuentan con los siguientes elementos básicos<h1>
    <h1>1. Ingresos: Son todos los recursos o entradas de los que se dispone. Por ejemplo, salarios, rentas de alquiler de piso o coche, ventas de bienes.</h1>
    <h1>2. Gastos: Se refiere a las salidas o pago por distintos conceptos. Así, por ejemplo, arriendo, mercado, Ropa.<h1>
    <h1>3. Activos: Bienes de larga duración con los que se dispone. Por ejemplo, tenemos propiedades, vehiculos</h1>
    <h1>4. Pasivos: Deudas que mantenemos cpn terceros. Por ejemplo: Deuda con un banco o amigo.       
</body>
</html>