{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar Tres</title>
    <link rel="stylesheet" href= '{% static "css/ObjetivosFP.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
             <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales</a></li>      
             <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
             <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
             <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
             <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <h1>Objetivo de las finanzas personales</h1>
    <h1>El objetivo principal de las finanzas personales es ayudar a las personas y familias a que tomen decisiones informadas que permitan optimizar el manejo de los recursos. Lo anterior contempla poder alcanzar una serie de sub-objetivos a corto, mediano y largo plazo.</h1>
</body>
</html>