{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Cómo optimziar las Finanzas Personales?</title>
    <link rel="stylesheet" href= '{% static "css/OptimizarFP.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
            <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales</a></li>      
            <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
            <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
            <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
            <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <h1>¿Cómo optimizar mis finanzas personales</h1>
    <h1>1.Restructura tu presupuesto mensual: Con el aumento de precios en algunos sectores, deberás replantear la división de tus ingresos:  aumentar los montos para cubrir las necesidades básicas y disminuir los gastos en entretenimiento. Revisa con cuidado tu presupuesto y ahorra para consumos futuros. </h1>
    <h1>2.Infórmate de los cambios económicos: Entender por qué se generan las alzas en productos y servicios, te permitirá consolidar un plan financiero acorde a las expectativas del mercado.</h1>
    <h1>3.Regula las salidas: Está bien el tiempo de recreación con tu pareja, familia o amigos, pero debes poner mucha atención en este punto, si tenemos pensado ahorrar, estas salidas deben de estar reguladas, dándole prioridad a las fechas y eventos importantes.</h1>
    <h1>4.Planifica tus gastos con antelación: La Planificación es la primera clave de una salud financiera óptima, lo mejor es tomar lápiz y papel, abrir una hoja de Excel y comenzar a establecer cuáles son los gastos que tienes previsto hacer durante un periodo de tiempo determinado.</h1>
    <h1>5.Registra y controla cada gasto: Con UWallet puedes lleva un control y monitoreo de tus ingresos y gastos, cada vez que realizas una compra o pagas una cuota, de manera que al final de cada semana o mes, obtengas una visión clara de todos tus movimientos.<h1>
    <h1>6.Evita tener deudas: Las deudas es el archienemigo de las buenas prácticas de finanzas personales, evita en la medida de los posibles vivir encadenado a los pagos de plazos, será más fácil para ti adquirir ese producto servicio que deseas sin necesidad de pagarlo a crédito.</h1>
</body>
</html>