{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué son los gastos hormigas?</title>
    <link rel="stylesheet" href= '{% static "css/QueSonGH.css" %}'>
</head>
<body>
    <header class="header">
        <nav>
           <ul class="nav-links">
             <li><a href="/home/academy/QueSonFP">¿Qué son las finanzas personales</a></li>      
             <li><a href="/home/academy/ObjetivosFP">Objetivos de las finanzas personales</a></li>
             <li><a href="/home/academy/ElementosFP">Elementos de las finazas personales</a></li>
             <li><a href="/home/academy/OptimizarFP">¿Cómo optimizar mis finanzas personales</a></li>
             <li><a href="/home/academy/QueSonGH">¿Qué son los gastos hormiga?</a></li>
           </ul>            
        </nav>
        <a class="btn" href="/home"><button>Home</button></a>
    </header>
    <h1>¿Qué son los gastos hormiga?</h1>
    <h1>Los gastos hormiga son consumos de montos pequeños que al parecer no repercuten en tu presupuesto, pero en realidad, tienen un alto impacto en tus finanzas personales o familiares.</h1>
    <h1>Es muy común que, al pensar en tus gastos, te enfoques en los más significativos, como la deuda en un auto o casa o en las compras con tu tarjeta. Pero son los pequeños gastos diarios los que podrían estar drenando tu bolsillo. Estos son algunos ejemplos de los gastos hormiga más comunes:</h1>
    <h1>Algunos ejemplos de gastos hormiga:</h1>
    <h1>a. El café que compras todos los días</h1>
    <h1>b. Los antojos de una tienda</h1>
    <h1>c. Comer en restaurantes</h1>
    <h1>d. Tarifas adicionales en servicios básicos</h1>
    <h1>¿Cómo identificar un gasto hormiga?</h1>
    <h1>Los gastos hormiga representan un desembolso de dinero significativo y, al sumar todos, te darás cuenta que la cantidad de dinero que les destinas puede tener un gran impacto en tu economía, diagnosticar cuáles son tus gastos hormiga es sencillo. Lo único que debes hacer es calcular cuánto dinero destinas a estos consumos, siguiendo estos tres pasos:</h1>
    <h1>1. Identifica tus gastos diarios: Guarda recibos y facturas de los consumos que haces. Después, elabora un cuadro, con la descripción de cada gasto diario y su monto.<h1>
    <h1>2. Suma tus gastos hormiga de la semana: Repite el paso anterior para todos los días de la semana y suma todos los consumos innecesarios que hayas realizado en ese tiempo. Esta sencilla operación te indicará el dinero que estás destinado semanalmente a los gastos hormigas.</h1>
    <h1>3. Proyecta los resultados: Ahora que ya sabes cuánto gastas a la semana en cosas innecesarias. Te recomendamos sacar una proyección de tus gastos hormiga mensuales y anuales para que sepas cuánto dinero estás destinando para cada cosa.</h1>
    
</body>
</html>