{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <link type='text/css' href='{% static "css/feed.css" %}' rel='stylesheet'/>
    <script src="https://kit.fontawesome.com/bb4115f541.js" crossorigin="anonymous"></script>
    <title>Feed</title>

</head>
<body>
    <a class="incomes" href="/income"><button><i class="fa-sharp fa-solid fa-money-bill"></i>Incomes</button></a>
    <a class="spents"><button><i class="fa-solid fa-credit-card">Spents</button></a>
    <a class="movements"><button><i class="fa-solid fa-arrow-down-arrow-up">Movements</button></a>
    <a class="reports"><button><i class="fa-solid fa-magnifying-glass">Reports</button></a>
    <a class="back" href="/home"><button><i class="fa-sharp fa-solid fa-arrow-left">Back</button>
    <a class="notifications" href="/feed/notifications"><i class="fa-solid fa-bell"></i>Notifications</button>
</body>
</html>
