{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <link type='text/css' href='{% static "css/feed.css" %}' rel='stylesheet'/>
    <script src="https://kit.fontawesome.com/bb4115f541.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="contenedor">
      <button><i class="fa-duotone fa-money-bill"></i>Incomes</button>
        <div class="contenedorSpents">
          <button class="submit"><i class="fa-solid fa-credit-card"></i>Spents</button>
            <div class="contenedorMovements">
              <button><i class="fa-solid fa-arrow-down-arrow-up"></i>Movements</button>
                <div class="contenedorReports">
                  <button><i class="fa-solid fa-magnifying-glass"></i>Reports</button>
                    <div class="contenedorSavingGoals">
                      <button><i class="fa-sharp fa-solid fa-flag"></i>Saving goals</button>
                        <div class="contenedorNotifications">
                          <button><i class="fa-solid fa-bell-on"></i>Notifications</button>
                            <div class="contenedorUser">
                              <button type="button" class="btn btn link"><i class="fa-solid fa-user"></i>Mario Alejandro Muñetón Durango</button>
                                <div class="contenedorBack">
                                  <a class="btn" href="/home"><button><i class="fa-sharp fa-solid fa-arrow-left"></i>Back</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div> 
           </div> 
      </div>
  </div>
</body>
</html>
