{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <link type='text/css' href='static/css/home.css' rel='stylesheet'/>
    <script src="https://kit.fontawesome.com/bb4115f541.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="contenedorIncomes">
      <buttonIncome><i class="fa-duotone fa-money-bill"></i>Incomes</buttonIncome>
        <div class="contenedorSpents">
          <buttonSpent class="submit"><i class="fa-solid fa-credit-card"></i>Spents</buttonSpent>
            <div class="contenedorMovements">
              <buttonMovement><i class="fa-solid fa-arrow-down-arrow-up"></i>Movements</buttonMovement>
                <div class="contenedorReports">
                  <buttonReport><i class="fa-solid fa-magnifying-glass"></i>Reports</buttonReport>
                    <div class="contenedorSavingGoals">
                      <buttonSavingGoal><i class="fa-sharp fa-solid fa-flag"></i>Saving goals</buttonSavingGoal>
                        <div class="contenedorNotifications">
                          <buttonNotification><i class="fa-solid fa-bell-on"></i>Notifications</buttonNotification>
                            <div class="contenedorUser">
                              <buttonUser type="button" class="btn btn link"><i class="fa-solid fa-user"></i>Mario Alejandro Muñetón Durango</buttonUser>
                                <div class="contenedorBack">
                                  <buttonBack type="button" class="btn btn link"><i class="fa-sharp fa-solid fa-arrow-left"></i>Back</buttonBack>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
    </div>
</body>
</html>