{% extends 'base_notifications/base_notifications.html' %}

{% block title %}Reminders{% endblock %}

    
   {% block content %}
   
    <h1 style="color:#8A36D2">Reminders <i class="fa-regular fa-calendar-days"></i></h1>
    <a class="btn" href="/add_Reminder"><button type="button" class="btn btn-warning" style="color:#FFFFFF"><i class="fa-solid fa-circle-plus"></i>Add</button></a>
    <a class="btn" href="/see_Reminder"><button type="button" class="btn btn-primary" style="color:#FFFFFF"><i class="fa-solid fa-eye"></i>See</button></a>
    <a type="btn" href="/notifications"><button type="button" class="btn btn-danger"><i class="fa-solid fa-arrow-left" style="color:#FFFFFF"></i>Back</button></a>
   
   {% endblock %}