{% extends 'base_notifications/base_notifications.html' %}

{% block title %}Dues{% endblock %}

    
   {% block content %}
   
    <h1 style="color:#FF00FF">Dues <i class="fa-solid fa-calculator"></i></h1>
    <h2>Name of Due: <input type="text" name="Name of Due"/></h2>
    <h2>Number of Dues: <input type="number" name="Number of Dues"/></h2>
    <h2>Deadline:</h2><input type="date" name="Deadline"/>
    <h2>Description:</h2>
    <textarea name="Description"></textarea>
    <h2>Save Changes:</h2>
    <button type="button" class="btn btn-success">Save</button>
    <a type="btn" href="/notifications"><button type="button" class="btn btn-danger"><i class="fa-solid fa-arrow-left" style="color:#FFFFFF"></i>Back</button></a>
   
   {% endblock %}